*{ 
 margin: 0;
 padding: 0;
}
body {
	background-color: #D3D3D3;
	width: 100%;
	height: 100%;
	padding-bottom: 60px;
}
.wrapper {
	width: 768px;
	height: 650px;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	border: 1px solid black;
	background-color: white;
	font-family: arial;
	line-height: 25px;
} 
.wrapper h3 {
	text-align: center;
	margin-bottom: 45px;
}
.wrapper h4 {
	line-height: 60px;
}
.wrapper p {
	margin-left: 30px;
}
.button {
	text-align: center;
	margin-top: 30px;
}
.button input{
	width: 250px;
	height: 50px;
	font-size: 18px;
}